/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
  padding: 1.6rem;
}

.mat-card {
  background: white;
  color: #555;
  box-shadow: none !important;
  border: 1px solid #e4e4e4;
}

.landing-page {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  display: flex;
  background-image: url(./assets/images/rocketlaunch.jpg);
  .landing-page-header {
    margin-left: 10%;
    display: flex;
    align-items: center;
    h3 {
      font-size: 3rem;
      font-weight: bold;
      color: white;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1rem;
      color: #e4e4e4;
    }
  }
}
